.app-container {
  margin: 100px auto;
}

.actions-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.todo-container {
  display: flex;
  align-items: center;
}

.todo-done {
  text-decoration: line-through;
}

.todo-done-editing {
  width: 200px;
  margin-left: 10px;
}

.action {
  border-radius: 50%;
  cursor: pointer;
}